.notification-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.identificador-noti-container {
    margin: 12px;
    border-radius: 8px;
    border-color: #c8c7cc36;

    legend {
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
    }    
}

.indentificador-noti {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}