<ion-header translucent>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="getCurrentCoords()" class="donde-btn">
        <ion-icon slot="start" name="locate"></ion-icon>
        {{headerBtnLabel ? headerBtnLabel : '¿Dondé estoy?'}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="close-btn" (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="map-wrapper">
    <div #map id="map"></div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <b>Address</b>
      </ion-col>
      <ion-col>
        {{address}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <b>Lattitude</b>
      </ion-col>
      <ion-col>
        {{latitude}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <b>Longitude</b>
      </ion-col>
      <ion-col>
        {{longitude}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" color="tertiary" class="g-close" (click)="submitAddress()">Cerrar y Guardar</ion-button>
</ion-content>
