<app-page-toolbar-title [hideBackBtn]="true"></app-page-toolbar-title>

<ion-content>
  <ion-row style="justify-content: space-evenly;height: 100%;align-items: center;">

    <ion-col class="ion-padding" size="10" size-md="5" size-lg="4">
      <div class="custom-card-container solicitar" (click)="navigateTo('pre-solicitud')">
        <div class="icon-content">
          <img src="assets/img/static/asistencia/solicitar.svg" alt="solicitar img">
        </div>
        <div class="action-content">
          <p>Solicitar Servicio</p>
          <ion-icon class="ion-no-margin ion-no-padding" name="arrow-forward-outline" style="color: white; padding: 0;">
          </ion-icon>
        </div>
      </div>
    </ion-col>

  </ion-row>


</ion-content>
