.service-margin {
  margin: 0.5rem;
}
hr {
  background-image: linear-gradient(to right, #9c9c9c 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 12px 1px;
  background-repeat: repeat-x;
}


::ng-deep {
  .mat-paginator-container {
    flex-direction: column;
  }
}
