<ion-header>
  <ion-toolbar style="--background: white;">
    <ion-buttons slot="start">
      <ion-button style="--color:var(--app-primary);" (click)="back()">
        <ion-icon name="arrow-undo-sharp" style="font-size: 1.5em; padding: 0.5rem; color: var(--app-primary); float: right;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding img-background" [fullscreen]="true">
  <ion-row style="height: 100%; align-content: center; justify-content: center">
    <ion-col size="10" size-md="8" style="height: 90%">
      <div class="title-container">
        <p class="title">Regístrate</p>
        <p style="flex: 1; text-align: end">
          <img src="assets/img/static/register-key.svg" alt="register keys icon" />
        </p>
      </div>

      <form [formGroup]="registerForm">
        <div class="form-content">
          <mat-form-field appearance="legacy">
            <mat-label>Nombre*</mat-label>
            <input type="text" matInput formControlName="name" class="padding-left" />
            <mat-error *ngIf="cf.name.errors?.required">Campo requerido</mat-error>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Teléfono Movil*</mat-label>
            <input type="tel" matInput formControlName="mobile" class="padding-left" />
            <mat-error *ngIf="cf.mobile.errors?.required">Campo requerido</mat-error>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>RFC</mat-label>
            <input type="text" matInput formControlName="vat" class="padding-left" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Correo Electronico*</mat-label>
            <input type="email" matInput formControlName="email" class="padding-left" />
            <mat-error *ngIf="cf.email.errors?.required">Campo requerido</mat-error>
            <mat-error *ngIf="cf.email.errors?.email">Email invalido</mat-error>

          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Contraseña*</mat-label>
            <input type="password" matInput formControlName="password" class="padding-left" />
            <mat-error *ngIf="cf.password.errors?.required">Contraseña requerida</mat-error>
            <mat-error *ngIf="cf.password.errors?.minlength">La contraseña debe tener al menos 6 caracteres</mat-error>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Confirmar Contraseña*</mat-label>
            <input type="password" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="confirmPassword"
              class="padding-left" />
            <div *ngIf="confirmPwdError === true" class="custom-errors">Las contraseñas no coinciden</div>
          </mat-form-field>


          <div class="spinner" *ngIf="spinner === true">
            <ion-spinner></ion-spinner>
          </div>
          <br />
          <ion-button class="submit-btn btn-shadow" color="primary" expand="block" style="width: 100%; margin: 0 auto"
            (click)="submit()" *ngIf="spinner === false">Enviar
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
