<ng-container *ngIf="instanceType === 'plain'">
  <div class="signature-general-content " id="signature-container1"
  [ngClass]="{'mobile-signature': isSmallDivice === true && instanceType !== 'plain'}">
  <div class="signature-container">

    <h4 style="color: var(--ion-color-light-shade); padding: 0; margin: 0; width: 100%; text-align: left;">
      Firme lo mas centrado posible
      <mat-icon>gesture</mat-icon>
    </h4>
    <div class="signature-buttons">
      <button mat-raised-button class="btn-clear-sign" (click)="clear()"><mat-icon>change_circle</mat-icon></button>
      <button mat-raised-button class="btn-undo-sign" (click)="undo()"><mat-icon>reply</mat-icon></button>
    </div>
    <div style="position: relative">
      <canvas class="signature-pad canvas-signature" id="canva-signature1" #canvas1 width="900" height="200"
        style="touch-action: none;"></canvas>
    </div>
  </div>
</div>
</ng-container>

<ng-container>

</ng-container>
