/* Removes Spin Button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, #000a13 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  min-width: 220px;
  background-color: white;

  &:focus-visible {
    border: none;
    outline: none;
  }
}

#divInner{
  left: 0;
  position: sticky;
}

#divOuter{
  width: 190px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.code-fieldset {
  border: dashed 2px var(--app-primary);
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  width: 100%;
}
